*{
    box-sizing: border-box;
}
h1{
    font-family: Arial;
    color:#b1b1b1;
    margin:10px 0 0 0;
}
.logo{
    height:50px;
    width:50px;
    background-color:blue;
    position:relative;
    border-radius: 50%;
}
.A{
    font-family: Arial;
    color:white;
    font-size:70px;
    position:absolute;
    top:-15px;
    left:0.2px;
    display:block;
    font-weight:900;
}
section{
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.colors{
    height:50px;
    width: 50px;
    border-radius:50%;
    background-color: red;
    background-image:
        linear-gradient(
            to right,
            #94ba66,
            #94ba66 50%,
            #2a8eb0 50%,
            #2a8eb0 25%
        );
}
.a-hole{
    width:20px;
    height:25px;
    background-color: #f27424;
    position:absolute;
    top:10px;
    left:15px;
    border-radius: 10px;
}
