h1{
    font-family: Arial;
    color:#b1b1b1;
    margin:10px 0 0 0;
}
.logo{
    height:50px;
    width:50px;
    background-color:blue;
    overflow:auto;
    float:right;
}
.A{
    font-family: Arial;
    color:white;
    fomt-size:20px
}
section{
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}